/*
* grid.css */

:root {overflow-x:hidden;}

.grid {
	position:relative;
	clear:both;
	margin-right:auto;
	margin-left:auto;
    padding-left:1em;
    padding-right:1em;
}

.grid::before,
.grid::after {
	display:table;
	content:" ";
}

.grid::after {
	clear:both;
}

[data-grid] {
	float:left;
	min-height:1px;
	-webkit-transition:width 100ms cubic-bezier(0.0, 0.0, 0.58, 1.0);
	transition:width 100ms cubic-bezier(0.0, 0.0, 0.58, 1.0);
}

[data-grid]::before {
	display:table;
	content:" ";
}

[data-grid]::after {
	clear:both;
}

[data-grid]:empty {
	margin: 0 !important;
    padding: 0 !important;
}

.grid-inline {
	word-spacing:-0.36em;
}

.grid-inline > [data-grid] {
	display:inline-block;
	float:none !important;
	vertical-align:top;
    min-height:1px;
	word-spacing:normal;
}

.grid-va-t [data-grid] {
	vertical-align:top;
}

.grid-va-m [data-grid] {
	vertical-align:middle;
}

.grid-va-b [data-grid] {
	vertical-align:bottom;
}

.gutter-m::before,
.gutter-l::before,
.gutter-xl::before,
.gutter-m::after,
.gutter-l::after,
.gutter-xl::after {
	display:table;
	content:" ";
}

.gutter-m::after,
.gutter-l::after,
.gutter-xl::after {
	clear:both;
}

@media only screen and (min-width:0px) and (max-width:639px) {
	html, body {
        min-width:300px;
	}

    .grid {
		max-width:460px;

	}

	html:not(._asd4_) [data-grid] {
        margin-top:0.938em;
        margin-bottom:0.938em;
	}

	[data-grid~="s-1"] {width:100%;}
	[data-grid~="s-2"] {width:50%;}
	[data-grid~="s-3"] {width:33.3333334%;}
	[data-grid~="s-4"] {width:25%;}
	[data-grid~="s-6"] {width:16.6666667%;}
	[data-grid~="s-6x2"] {width:33.3333334%;}
	[data-grid~="s-6x3"] {width:50%;}
	[data-grid~="s-6x4"] {width:66.6666666667%;}
	[data-grid~="s-6x5"] {width:83.3333333333%;}
	[data-grid~="s-4x2"] {width:50%;}
	[data-grid~="s-4x3"] {width:75%;}
	[data-grid~="s-3x2"] {width:66.6666666667%;}

	.gutter-m >[data-grid~="s-1"], .gutter-l >[data-grid~="s-1"], .gutter-xl >[data-grid~="s-1"]  {width:calc(100% - 10px);}
	.gutter-m >[data-grid~="s-2"], .gutter-l >[data-grid~="s-2"], .gutter-xl >[data-grid~="s-2"]  {width:calc(50% - 10px);}
	.gutter-m >[data-grid~="s-3"], .gutter-l >[data-grid~="s-3"], .gutter-xl >[data-grid~="s-3"]  {width:calc(33.3333334% - 10px);}
	.gutter-m >[data-grid~="s-4"], .gutter-l >[data-grid~="s-4"], .gutter-lxl >[data-grid~="s-6"]  {width:calc(16.6666667% - 10px);}
	.gutter-m >[data-grid~="s-6x2"], .gutter-l >[data-grid~="s-6x2"], .gutter-xl >[data-grid~="s-6x2"]  {width:calc(33.3333334% - 10px);}
	.gutter-m >[data-grid~="s-6x3"], .gutter-l >[data-grid~="s-6x3"], .gutter-xl >[data-grid~="s-6x3"]  {width:calc(50% - 10px);}
	.gutter-m >[data-grid~="s-6x4"], .gutter-l >[data-grid~="s-6x4"], .gutter-xl >[data-grid~="s-6x4"]  {width:calc(66.6666666667% - 10px);}
	.gutter-m >[data-grid~="s-6x5"], .gutter-l >[data-grid~="s-6x5"], .gutter-xl >[data-grid~="s-6x5"]  {width:calc(83.3333333333% - 10px);}
	.gutter-m >[data-grid~="s-4x2"], .gutter-l >[data-grid~="s-4x2"], .gutter-xl >[data-grid~="s-4x2"]  {width:calc(50% - 10px);}
	.gutter-m >[data-grid~="s-4x3"], .gutter-l >[data-grid~="s-4x3"], .gutter-xl >[data-grid~="s-4x3"]  {width:calc(75% - 10px);}
	.gutter-m >[data-grid~="s-3x2"], .gutter-l >[data-grid~="s-3x2"], .gutter-xl >[data-grid~="s-3x2"]  {width:calc(66.6666666667% - 10px);}

	.grid .gutter-m  {width:calc(100% + 10px)}
	.grid .gutter-l  {width:calc(100% + 10px)}
	.grid .gutter-xl {width:calc(100% + 10px)}

	.gutter-m  > [data-grid] {margin-right:10px;}
	.gutter-l  > [data-grid] {margin-right:10px;}
	.gutter-xl > [data-grid] {margin-right:10px;}

	.hidden-s {
		display:none !important;
	}
}

@media only screen and (min-width:640px) and (max-width:1023px) {
	.grid {
		max-width:768px;
	}

	[data-grid~="m-1"] {width:100%;}
	[data-grid~="m-2"] {width:50%;}
	[data-grid~="m-3"] {width:33.3333334%;}
	[data-grid~="m-4"] {width:25%;}
	[data-grid~="m-6"] {width:16.6666667%;}
	[data-grid~="m-6x2"] {width:33.3333334%;}
	[data-grid~="m-6x3"] {width:50%;}
	[data-grid~="m-6x4"] {width:66.6666666667%;}
	[data-grid~="m-6x5"] {width:83.3333333333%;}
	[data-grid~="m-4x2"] {width:50%;}
	[data-grid~="m-4x3"] {width:75%;}
	[data-grid~="m-3x2"] {width:66.6666666667%;}

	.hidden-m {
		display:none !important;
		visibility:hidden !important;
	}

	.gutter-m >[data-grid~="m-1"]  {width:calc(100% - 15px);}
	.gutter-m >[data-grid~="m-2"]  {width:calc(50% - 15px);}
	.gutter-m >[data-grid~="m-3"]  {width:calc(33.3333334% - 15px);}
	.gutter-m >[data-grid~="m-4"]  {width:calc(25% - 15px);}
	.gutter-m >[data-grid~="m-6"]  {width:calc(16.6666667% - 15px);}
	.gutter-m >[data-grid~="m-6x2"]  {width:calc(33.3333334% - 15px);}
	.gutter-m >[data-grid~="m-6x3"]  {width:calc(50% - 15px);}
	.gutter-m >[data-grid~="m-6x4"]  {width:calc(66.6666666667% - 15px);}
	.gutter-m >[data-grid~="m-6x5"]  {width:calc(83.3333333333% - 15px);}
	.gutter-m >[data-grid~="m-4x2"]  {width:calc(50% - 15px);}
	.gutter-m >[data-grid~="m-4x3"]  {width:calc(75% - 15px);}
	.gutter-m >[data-grid~="m-3x2"]  {width:calc(66.6666666667% - 15px);}

	.gutter-l >[data-grid~="m-1"]  {width:calc(100% - 30px);}
	.gutter-l >[data-grid~="m-2"]  {width:calc(50% - 30px);}
	.gutter-l >[data-grid~="m-3"]  {width:calc(33.3333334% - 30px);}
	.gutter-l >[data-grid~="m-4"]  {width:calc(25% - 30px);}
	.gutter-l >[data-grid~="m-6"]  {width:calc(16.6666667% - 30px);}
	.gutter-l >[data-grid~="m-6x2"]  {width:calc(33.3333334% - 30px);}
	.gutter-l >[data-grid~="m-6x3"]  {width:calc(50% - 30px);}
	.gutter-l >[data-grid~="m-6x4"]  {width:calc(66.6666666667% - 30px);}
	.gutter-l >[data-grid~="m-6x5"]  {width:calc(83.3333333333% - 30px);}
	.gutter-l >[data-grid~="m-4x2"]  {width:calc(50% - 30px);}
	.gutter-l >[data-grid~="m-4x3"]  {width:calc(75% - 30px);}
	.gutter-l >[data-grid~="m-3x2"]  {width:calc(66.6666666667% - 30px);}

	.gutter-xl >[data-grid~="m-1"]  {width:calc(100% - 45px);}
	.gutter-xl >[data-grid~="m-2"]  {width:calc(50% - 45px);}
	.gutter-xl >[data-grid~="m-3"]  {width:calc(33.3333334% - 45px);}
	.gutter-xl >[data-grid~="m-4"]  {width:calc(25% - 45px);}
	.gutter-xl >[data-grid~="m-6"]  {width:calc(16.6666667% - 45px);}
	.gutter-xl >[data-grid~="m-6x2"]  {width:calc(33.3333334% - 45px);}
	.gutter-xl >[data-grid~="m-6x3"]  {width:calc(50% - 45px);}
	.gutter-xl >[data-grid~="m-6x4"]  {width:calc(66.6666666667% - 45px);}
	.gutter-xl >[data-grid~="m-6x5"]  {width:calc(83.3333333333% - 45px);}
	.gutter-xl >[data-grid~="m-4x2"]  {width:calc(50% - 45px);}
	.gutter-xl >[data-grid~="m-4x3"]  {width:calc(75% - 45px);}
	.gutter-xl >[data-grid~="m-3x2"]  {width:calc(66.6666666667% - 45px);}
}

@media only screen and (min-width:1024px) and (max-width:1199px) {
	.grid {
		max-width:1024px
	}
}

@media only screen and (min-width:1024px) {
	[data-grid~="l-1"] {width:100%;}
	[data-grid~="l-2"] {width:50%;}
	[data-grid~="l-3"] {width:33.3333334%;}
	[data-grid~="l-4"] {width:25%;}
	[data-grid~="l-6"] {width:16.6666667%;}
	[data-grid~="l-6x2"] {width:33.3333334%;}
	[data-grid~="l-6x3"] {width:50%;}
	[data-grid~="l-6x4"] {width:66.6666666667%;}
	[data-grid~="l-6x5"] {width:83.3333333333%;}
	[data-grid~="l-4x2"] {width:50%;}
	[data-grid~="l-4x3"] {width:75%;}
	[data-grid~="l-3x2"] {width:66.6666666667%;}

	.gutter-m >[data-grid~="l-1"]  {width:calc(100% - 15px);}
	.gutter-m >[data-grid~="l-2"]  {width:calc(50% - 15px);}
	.gutter-m >[data-grid~="l-3"]  {width:calc(33.3333334% - 15px);}
	.gutter-m >[data-grid~="l-4"]  {width:calc(25% - 15px);}
	.gutter-m >[data-grid~="l-6"]  {width:calc(16.6666667% - 15px);}
	.gutter-m >[data-grid~="l-6x2"]  {width:calc(33.3333334% - 15px);}
	.gutter-m >[data-grid~="l-6x3"]  {width:calc(50% - 15px);}
	.gutter-m >[data-grid~="l-6x4"]  {width:calc(66.6666666667% - 15px);}
	.gutter-m >[data-grid~="l-6x5"]  {width:calc(83.3333333333% - 15px);}
	.gutter-m >[data-grid~="l-4x2"]  {width:calc(50% - 15px);}
	.gutter-m >[data-grid~="l-4x3"]  {width:calc(75% - 15px);}
	.gutter-m >[data-grid~="l-3x2"]  {width:calc(66.6666666667% - 15px);}

	.gutter-l >[data-grid~="l-1"]  {width:calc(100% - 30px);}
	.gutter-l >[data-grid~="l-2"]  {width:calc(50% - 30px);}
	.gutter-l >[data-grid~="l-3"]  {width:calc(33.3333334% - 30px);}
	.gutter-l >[data-grid~="l-4"]  {width:calc(25% - 30px);}
	.gutter-l >[data-grid~="l-6"]  {width:calc(16.6666667% - 30px);}
	.gutter-l >[data-grid~="l-6x2"]  {width:calc(33.3333334% - 30px);}
	.gutter-l >[data-grid~="l-6x3"]  {width:calc(50% - 30px);}
	.gutter-l >[data-grid~="l-6x4"]  {width:calc(66.6666666667% - 30px);}
	.gutter-l >[data-grid~="l-6x5"]  {width:calc(83.3333333333% - 30px);}
	.gutter-l >[data-grid~="l-4x2"]  {width:calc(50% - 30px);}
	.gutter-l >[data-grid~="l-4x3"]  {width:calc(75% - 30px);}
	.gutter-l >[data-grid~="l-3x2"]  {width:calc(66.6666666667% - 30px);}

	.gutter-xl >[data-grid~="l-1"]  {width:calc(100% - 45px);}
	.gutter-xl >[data-grid~="l-2"]  {width:calc(50% - 45px);}
	.gutter-xl >[data-grid~="l-3"]  {width:calc(33.3333334% - 45px);}
	.gutter-xl >[data-grid~="l-4"]  {width:calc(25% - 45px);}
	.gutter-xl >[data-grid~="l-6"]  {width:calc(16.6666667% - 45px);}
	.gutter-xl >[data-grid~="l-6x2"]  {width:calc(33.3333334% - 45px);}
	.gutter-xl >[data-grid~="l-6x3"]  {width:calc(50% - 45px);}
	.gutter-xl >[data-grid~="l-6x4"]  {width:calc(66.6666666667% - 45px);}
	.gutter-xl >[data-grid~="l-6x5"]  {width:calc(83.3333333333% - 45px);}
	.gutter-xl >[data-grid~="l-4x2"]  {width:calc(50% - 45px);}
	.gutter-xl >[data-grid~="l-4x3"]  {width:calc(75% - 45px);}
	.gutter-xl >[data-grid~="l-3x2"]  {width:calc(66.6666666667% - 3045pxpx);}

	.hidden-l {
		display:none !important;
		visibility:hidden !important;
	}
}

@media only screen and (max-width:1199px) {
	.grid {
		padding-left:0.938em;
		padding-right:0.938em;
	}
}

@media only screen and (min-width:1200px) {
	.grid {
		max-width:1200px
	}
}

@media only screen and (min-width:640px) {
	.grid .gutter-m {width:calc(100% + 15px)}
	.grid .gutter-l {width:calc(100% + 30px)}
	.grid .gutter-xl {width:calc(100% + 45px)}

	.gutter-m  > [data-grid] {margin-right:15px;}
	.gutter-l  > [data-grid] {margin-right:30px;}
	.gutter-xl > [data-grid] {margin-right:45px;}
}
