/*
 * Responsive */

@media only screen and (max-device-width: 1024px) {
	:root {
		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		text-size-adjust: 100%;
	}
}

/*
@media (max-width:460px) {}

@media (min-width:0px) and (max-width:768px) {}

@media (min-width:769px) and (max-width:1023px) {}

@media (min-width:1024px) and (max-width:1199px) {}

@media (min-width:1200px) {}
*/
